#speech-bubble {
   width: 120px; 
   height: 80px; 
   background: #5ac4ed;
   position: absolute;
   left:100px;
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
}
#speech-bubble:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #5ac4ed;
   border-bottom: 13px solid transparent;
   margin: 13px 0 0 -25px;
}